<div class="ecommerce">
  <nav class="nav">
    <div class="left-nav">
      <div class="left-nav-1">
        <div class="logo">
          <img src="https://clapp.ams3.digitaloceanspaces.com/cku3zbsgd2gq5v91xuadtqmdhdqy" alt="logo">
        </div>
        <div class="menu">
          <p class="menu-home">Home</p>
          <div class="nav-category">
            <p class="menu-category">Category</p>
            <mat-icon class="dropdown-icon">
              arrow_drop_down
            </mat-icon>
          </div>
        </div>
      </div>
      <div class="left-nav-2">
        <div class="search">
          <mat-icon class="search-icon">search</mat-icon>
          <input class ="input-search" type="text" placeholder="Search Products">
        </div>
      </div>
    </div>

    <div class="right-nav">
      <div class="right-nav-child">
        <div class="indicator">
          <div class="indicator-box"></div>
          <p class="indicator-reading">4</p>
        </div>
        <div class="right-icon">
          <mat-icon class="shopping-cart nav-right-icon">shopping_cart</mat-icon>
        </div>
        <div class="right-icon">
          <mat-icon class="language nav-right-icon">language</mat-icon>
        </div>
        <div class="login">
          <mat-icon class="account-circle nav-right-icon">account_circle</mat-icon>
          <p class="login-text">LOGIN</p>
        </div>
      </div>
    </div>
  </nav>

  <div class="ad-swiper">
    <div class="ad-container">
      <div class="ad-text-container">
        <p class="ad-heading">Meet the new design Nike you are wishing for!</p>
        <p class="ad-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consequuntur deleniti dolores eos in modi nemo totam voluptates. Quaerat, reiciendis?</p>
        <button class="ad-btn">View Collection</button>
      </div>
      <div class="swipe-left">
        <mat-icon class="chevron-left">chevron_left</mat-icon>
      </div>
      <div class="swipe-right">
        <mat-icon class="navigatte-next">navigate_next</mat-icon>
      </div>
    </div>
    </div>


<!--  swiper indicator-->
  <div class="swiper-indicator-wrapper">
    <div class="swiper-indicator">
      <div class="swiper-indicator-1 swiper"></div>
      <div class="swiper-indicator-2 swiper"></div>
      <div class="swiper-indicator-3 swiper"></div>
    </div>
  </div>

<!--category section-->
  <div class="category-wrapper">
    <p class="category-heading">Category</p>
    <p class="category-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis esse magnam perspiciatis.</p>
    <div class="category-card-container">
      <div class="clothing-card">
        <div class="clothing-card-img">
          <div class="large-img">
            <img class="lg-img" src="https://cdn.pixabay.com/photo/2016/03/27/19/31/fashion-1283863_960_720.jpg" alt="cloth">
          </div>
          <div class="small-img">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2017/02/08/02/56/booties-2047596_960_720.jpg" alt="cloth">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2014/10/27/19/18/baby-shoes-505471_960_720.jpg" alt="cloth">
          </div>
        </div>
        <div class="clothing-card-description">
          <div class="clothing-text-container">
            <div class="text-box">
              <p class="clothing-title">Clothing</p>
              <p class="clothing-sub-text">Starting from <span class="sub-text">12 CHF</span></p>
            </div>
          </div>
          <button class="clothing-btn">Start Shopping</button>
        </div>
      </div>
      <div class="clothing-card">
        <div class="clothing-card-img">
          <div class="large-img">
            <img class="lg-img" src="https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521__340.jpg" alt="cloth">
          </div>
          <div class="small-img">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2016/04/01/12/01/cap-1300471__340.png" alt="cloth">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2021/11/12/13/14/sweater-6788998__340.jpg" alt="cloth">
          </div>
        </div>
        <div class="clothing-card-description">
          <div class="clothing-text-container">
            <div class="text-box">
              <p class="clothing-title ">Clothing</p>
              <p class="clothing-sub-text">Starting from <span class="sub-text">12 CHF</span></p>
            </div>
          </div>
          <button class="clothing-btn">Start Shopping</button>
        </div>
      </div>
      <div class="clothing-card">
        <div class="clothing-card-img">
          <div class="large-img">
            <img class="lg-img" src="https://cdn.pixabay.com/photo/2013/07/25/11/52/clothes-166848__340.jpg" alt="cloth">
          </div>
          <div class="small-img">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2018/05/14/22/08/towels-3401733__340.jpg" alt="cloth">
            <img class="sm-img" src="https://cdn.pixabay.com/photo/2019/02/19/18/02/felt-4007361__340.jpg" alt="cloth">
          </div>
        </div>
        <div class="clothing-card-description">
          <div class="clothing-text-container">
            <div class="text-box">
              <p class="clothing-title">Clothing</p>
              <p class="clothing-sub-text">Starting from <span class="sub-text">12 CHF</span></p>
            </div>
          </div>
          <button class="clothing-btn">Start Shopping</button>
        </div>
      </div>

    </div>
    <div class="swiper-indicator-wrapper">
      <div class="swiper-indicator">
        <div class="swiper-indicator-1 swiper"></div>
        <div class="swiper-indicator-2 swiper"></div>
        <div class="swiper-indicator-3 swiper"></div>
      </div>
    </div>
  </div>

<!--  discount display-->
  <div class="discount-container">
    <div class="discount-img-wrapper">
      <img class="discount-img" src="https://media.istockphoto.com/photos/white-sneaker-on-a-blue-gradient-background-mens-fashion-sport-shoe-picture-id1303978937?b=1&k=20&m=1303978937&s=170667a&w=0&h=az5Y96agxAdHt3XAv7PP9pThdiDpcQ3otWWn9YuJQRc=" alt="">
    </div>
    <div class="discount-description">
      <p class="discount-title">Get 30% discount on your favourite shoe</p>
      <p class="discount-sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta ex harum illum ipsam minima quis sit velit. Doloribus, dolorum!</p>
      <button class="discount-btn">View More</button>
    </div>
  </div>

</div>
